body {
  /* position: relative; */
  overflow-x: hidden;
  box-sizing: border-box;
}

#typeWriter {
  color: white;
}

.image-size {
  width: 70px;
  height: 70px;
}

.backg {
  background: rgba(0, 0, 0, 0.5);
}

.StackBackGround {
  background: rgba(0, 0, 0, 0.8);
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* opacity: 0.8; */
  background-image: url("./img/home.jpeg");
  background-size: cover;
  background-position: center;
}

.Product {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  opacity: 0.9;
  background-image: url("./img/products.jpg");
  background-position: center center;
}

.Stack {
  width: 100vw;
  opacity: 0.9;
  background-image: url("./img/stack.jpeg");
  background-position: center;
}

.Contact {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/contact.jpeg");
  background-size: cover;
  background-position: center;
}

.contactBackGround {
  background: rgba(0, 0, 0, 0.5);
}

.container {
  opacity: 1;
}

.home__content {
  color: white;
}

.home__content-list {
  opacity: 0.7;
}